# Local secret values - DO NOT COMMIT
# Copy this to secrets.auto.tfvars and fill in values
# Terraform auto-loads *.auto.tfvars files

secret_values = {
  "django-secret-key"     = ""
  "django-db-user"        = ""
  "django-db-password"    = ""
  "aws-access-key-id"     = ""
  "aws-secret-access-key" = ""
}
