body {
    font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Smaller font size on small screens */
    }
}

@media (min-width: 769px) {
    h1 {
        font-size: 2.5rem; /* Larger font size on larger screens */
    }
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

.messages {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.messages li {
    list-style-type: none;
}

.info {
    background-color: #d1ecf1;
    color: #0c5460;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.warning {
    background-color: #fff3cd;
    color: #856404;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    width: 100%
}